/* -- Propiedades generales -- */
.bg-dark{
    background-color: rgb(23, 23, 23) !important;
}

.btn_custom_size{
    font-size: 2vw;
}

.w-32{
    width: 32%;
}

/* -- Index -- */
.custom_h1_carousel_index{
    font-size: 8vw;
}

.custom_p_carousel_index{
    font-size: 3vw;
}

.custom_h1_carousel_index2{
    font-size: 4vw;
}

.custom_p_carousel_index2{
    font-size: 2vw;
}

.carousel-caption-custom-index{
    bottom: auto;
    top: 23%;
    left: 18%;
}

.carousel-caption-custom-index2{
    bottom: auto;
    top: 23%;
    left: auto;
    right: 17%;
}

span a{
    color: rgb(33, 33, 33);
    font-weight: 600;
}

span a:hover{
    color: rgb(0, 0, 0);
}

.h2-bold{
    font-weight: 600!important;
}
