/* ESTILOS GENERALES */
*{
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
}

html{
    scroll-behavior: smooth;
}

/* fondo */
body{
    background-color: rgb(36, 36, 36);
}

/* links */
a{
    text-decoration:none;
    
    transition-duration: .2s;
    transition-timing-function: ease;
}

a:hover{
    color: chocolate;
    transform: scale(1.05);
}


/* texto */
h1{
    font-size: 5em;
    margin-bottom: 12px;
    margin-top: 30px;
}

.subtitulo_h1{
    font-size: 2em;
    margin-top: 12px;
}

h2{
    font-size: 3em;
    margin-bottom: 12px;
    margin-top: 24px;
}

.subtitulo_h2{
    font-size: 1.3em;
    margin-top: 12px;
}

.bloque_texto_centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 0 100px 25px ;
}

.p_centrado{
    text-align: center;
}

.titulo{
    margin-bottom: 10px;
}

span{
    font-weight: 600;
    text-decoration:underline;
}

/* portadas */
.portada_mitades{
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    padding: 50px 75px;
}

.mitad_texto{
    padding: 0 20px;
    margin-bottom: 24px;
}

.mitad_imagen_cont{
    width: 60%;
}

.mitad_imagen{
    width: 100%;
}

/* botones */
.button{
    display: inline-block;
    font-size: 1.3em;
    font-weight: 600;
    font-style: italic;
    background-color: rgb(34, 31, 30);
    padding: 15px;
    border: solid 3px rgba(216, 100, 17, 0.505);
    border-radius: 15px;
}

.button:hover{
    box-shadow: 0px 1px 16px 1px rgba(210,105,30,0.1);
    -webkit-box-shadow: 0px 1px 16px 1px rgba(210,105,30,0.1);
    -moz-box-shadow: 0px 1px 16px 1px rgba(210,105,30,0.1);
}

/* imagenes full width */
.img_full_width_60vh{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.img_full_width_90vh{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

/* HEADER  */
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(22, 21, 21);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 10;
}

/* logo */
.contenedor_logo{
    height: 100%;
}

.logo{
    height:100%;
    margin-left: 25px;
    object-fit:contain;
}

/* menu */
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    
    padding-right: 20px;
}

.menu ul{
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content:space-around;
    align-items: center;
    
    list-style-type:none;
}

.menu ul li a{
    padding: 25px;
    font-size: 1.3em;
    font-weight: 600;
}

/* FOOTER */
footer{
    height: 60px;
    background-color:  rgb(22, 21, 21);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}

.social{
    width: 25%;
    height: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bi{
    padding: 15px;

    font-size: 1.5em;

    transition-duration: .2s;
    transition-timing-function: ease;
}

.bi-instagram:hover{
    color: orange ;
}

.bi-facebook:hover{
    color: rgb(0, 140, 255) ;
}

.bi-whatsapp:hover{
    color: rgb(75, 228, 29) ;
}

.copyright, .social_link{
    color: rgb(255, 255, 255);
}

.social_link{
    padding: 15px 0;
}

/* PAG: INDEX */
.index_section_1{
    padding-left: 0;
    padding-right: 0;
}

.img_portada_1{
    height: 60vh;
    object-fit: cover;
}

.index_section_2{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    background-color: rgb(63, 63, 63);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img{
    padding-bottom: 15px;
}

.index_section_3{
    flex-direction: row-reverse;
    padding-bottom: 0;
}

/* PAG: SERVICIO DE IMPRESION 3D */
.titulo_paso_a_paso, .titulo_seccion_gal{
    padding-left: 15%;
    padding-bottom: 15px;
}

.lista_pasos{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paso{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0;
}

.paso_cierre{
    list-style-type: none;
    font-size: 1.8em;
    padding: 40px;
}

.texto_paso{
    padding: 0 50px;
    font-size: 1.2em;
    width: 60%;
}

.paso_cierre .texto_paso{
    width: auto;
    padding: 0 15px;
    margin: 5px 0;
}

/* tabla */
.tabla_mat td, .tabla_mat th, .tabla_mat{
    text-align: center;
    padding: 12px;
    border: solid 2px chocolate;
    border-collapse: collapse;
}

/* PAG: INFORMACION */

.info_section_1{
    margin-bottom: 40px;
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    grid-gap: 40px;

    grid-template-areas: 
    "caratula_img caratula_img"
    "explicacion descripcion_videito"
    "explicacion videito"
    ;
}

.img_printing_info_container{
    grid-area: caratula_img;
}
.img_imprimiendo{
    object-position:center 40%;
}

.bloque_que_es_imp3d{
    grid-area: explicacion;
    background-color: rgb(63, 63, 63);
    height: 100%;
    justify-content: center;
    font-size: 1.3em;
    padding: 10px 60px;
    margin-left: 40px;
}

.titulo_que_es_imp3d{
    font-size: 4em;
}

.titulito_videito{
    grid-area: descripcion_videito;
    font-size: 2em;
    width: 80%;
    margin: 0;
    justify-self: center;
    text-align: center;

}

.videitos{
    grid-area: videito;

    justify-self: center;

    height: 65vh;
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.videito{
    width: 80%;
    height: 48%;
}


/* PAG: GALERIA */
.galeria_section_1{
    display: flex;
    height: 60vh;
    background-image: url(../imgs/custom.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.img_maq{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.grid_gal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 25px;
    column-gap: 25px;

    padding: 0 25px 25px;
}

/* PAG: OTROS SERVICIOS */
.otros_section_2, .otros_section_3{
    padding-top: 0;
}

.otros_section_3{
    flex-direction: row-reverse;
}

.mitad_imagen_cont_os{
    width: 50%;
}



/* MEDIA QUERIES */
@media screen and (max-width:1440px){

    /* INDEX */
    .card_img{
        width: 28vw;
    }

    .mitad_texto{
        padding: 0 50px;
        width: 40%;
    }

    .title_block{
        width: auto;
    }

    .menu ul li a{
        font-size:1em ;
    }

    /* SERVICIO IMPRESION 3D */
    .texto_paso{
        font-size: 1em;
    }

    .paso{
        width: 85vw;
    }

    .bloque_servicio_imp{
        font-size: .8em;
    }

    .titulo_paso_a_paso{
        font-size: 2.5em;
    }

    /* INFO */
    .info_section_1{
        grid-template-areas:
        "caratula_img caratula_img"
        "explicacion explicacion"
        "descripcion_videito descripcion_videito"
        "videito videito"
        ;
    }

    .videitos{
        flex-direction: row;
        height: 40vh;
    }

    .videito{
        height: 100%;
        width: 48% ;
    }

    .bloque_que_es_imp3d{
        margin: 0;
    }
}

@media screen and (max-width:1024px){
    /* INDEX */
    h1{
        margin-top: 25px;
    }
    
    .header{
        flex-direction: column;
        height: auto;
    }

    .logo{
        margin: 15px 0 0;
        height: 70px;
    } 

    .menu{
        padding: 0;
    }

    .menu ul li a{
        padding: 0;
    }

    .portada_mitades{
        display: flex;
        flex-wrap:wrap-reverse;
        padding: 50px 50px;
    }

    .mitad_texto{
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin-bottom:15px;
        width: 90%;
    }

    .mitad_imagen_cont{
        width: 90%;
    }

    .img_portada_1{
        height: 50vh ;
    }

    .portada_mitades{
        padding: 35px 25px 10px;
    }

    .index_section_2{
        padding: 30px 0;
        margin: 25px 0 10px;
    }

    footer{
        margin-top: 22px;
    }

    /* SERVICIO IMPRESION 3D */
    .texto_paso{
        padding-left: 5px;
    }

    .img_paso{
        height: 200px;
    }

    .tabla_mat td, .tabla_mat th, .tabla_mat{
        font-size: .9em;
        padding: 10px;
    }

    /* OTROS SERVICIOS */
    .bloque_intro_otros{
        padding: 0 50px 0 ;
    }

    .bloque_intro_otros .subtitulo_h1{
        margin-bottom: 10px;
    }

    /* INFO */
    .videitos{
        flex-direction: column;
        height: 80vh;
    }

    .videito{
        height: 48%;
        width: 70% ;
    }

    /* GALERIA */
    .grid_gal{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px){
    /* INDEX */
    .button{
        font-size: 1em;
    }

    h1{
        font-size: 4em;
    }
    
    .subtitulo_h1{
        font-size: 1.5em;
    }
    
    h2{
        font-size: 2em;
        margin: 12px 0 6px;
    }
    
    .subtitulo_h2{
        font-size: 1em;
        margin-top: 4px;
    }

    .img_portada_1{
        height: 40vh ;
    }

    .index_section_2{
        flex-direction: column;
        padding-bottom: 0;
    }

    .card{
        margin-bottom: 40px;
    }

    .card_img{
        width: 50vw;
        padding-bottom: 8px;
    }

    footer{
        flex-direction: column-reverse;
        height: auto;
    }

    .copyright{
        margin-top: 0;
        text-align: center;
        font-size: .8em;
    }

    .menu ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 60px;
        justify-items: center;
        text-align: center;
        margin: 0 0 10px;
    }

    .menu ul li{
        width: 100px;
    }

    .header{
        position: relative;
    }

    /* SERVICIO IMPRESION 3D */
    .messirve{
        height: 40vh;
    }    
    
    .paso{
        flex-direction: column;
        width: 95vw;
    }

    .texto_paso{
        text-align: center;
        padding: 0;
        width: 90%;
    }

    .img_paso{
        height: 250px;
    }

    .bloque_servicio_imp{
        padding-left: 50px;
        padding-right: 50px;
    }

    .titulo_paso_a_paso{
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .lista_pasos{
        margin: 0;
    }

    .tabla_mat td, .tabla_mat th, .tabla_mat{
        font-size: .85em;
        padding: 9px;
    }

    /* OTROS SERVICIOS */
    .icosa{
        height: 45vh;
    }

    /* INFO */
    .bloque_que_es_imp3d{
        font-size:.8em ;
        padding-left: 30px;
        padding-right: 30px;
    }

    .img_imprimiendo{
        height: 40vh;
    }

    .videitos{
        flex-direction: column;
        height: 50vh;
    }

    .videito{
        height: 48%;
        width: 70% ;
    }

    .titulito_videito{
        font-size: 1.5em;
    }

    /* GALERIA */
    .grid_gal{
        grid-template-columns: repeat(1, 1fr);
    }

    .galeria_section_1{
        height:35vh;
    }
}

@media screen and (max-width:425px){
    /* INDEX */
    .menu ul{
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }

    .portada_mitades{
        padding-left: 10px;
        padding-right: 10px;
    }

    /* SERVICIO IMPRESION 3D */
    .tabla_mat td, .tabla_mat th, .tabla_mat{
        font-size: .75em;
        padding: 5px;
    }

    .bloque_servicio_imp, .paso_cierre{
        padding-left: 20px;
        padding-right: 20px;
    }

    .img_paso{
        height: 200px;
    }

    /* OTROS SERVICIOS */
    .bloque_intro_otros{
        font-size: .8em;
        padding: 0 20px;
    }

    /* INFO */
    .videitos{
        height: 40vh;
    }
    .videito{
        height: 48%;
        width: 80% ;
    }

    /* GALERIA */
    .bloque_intro_galeria{
        padding-left: 30px;
        padding-right: 30px; 
    }

    .img_maq{
        height: 250px;
    }
}