/* -- Propiedades generales -- */
.bg-dark{
    background-color: rgb(23, 23, 23) !important;
}

.btn_custom_size{
    font-size: 2vw;
}

.w-32{
    width: 32%;
}


.custom_h1_title{
    font-size: calc(1.8rem + 2vw);
}

.custom_h1_subtitle{
    font-size: calc(1rem + .5vw);
}

.lead_custom{
    font-size: 1.1rem;
}

.link_claro{
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.link_claro:hover{
    font-weight: 500;
    color: white;
}

/* -- Index -- */
.custom_h1_carousel_index{
    font-size: 8vw;
}

.custom_p_carousel_index{
    font-size: 3vw;
}

.custom_h1_carousel_index2{
    font-size: 4vw;
}

.custom_p_carousel_index2{
    font-size: 2vw;
}

.carousel-caption-custom-index{
    bottom: auto;
    top: 23%;
    left: 18%;
}

.carousel-caption-custom-index2{
    bottom: auto;
    top: 23%;
    left: auto;
    right: 17%;
}

span a{
    color: rgb(33, 33, 33);
    font-weight: 600;
}

span a:hover{
    color: rgb(0, 0, 0);
}

.h2-bold{
    font-weight: 600!important;
}

/* -- Servicio impresion 3d -- */

p span{
    font-weight: 600;
    text-decoration:underline;
}

.paso_cierre{
    font-size: 1.6rem;
}

/* tabla */
.tabla_mat td, .tabla_mat th, .tabla_mat{
    text-align: center;
    padding: 10px;
    border: solid 2px chocolate;
    border-collapse: collapse;
}

.tabla_mat{
    width: 100%;
}
